This notebook contains the code to script the news from Reuter website and the data preprocess of a given file "annual_report_29.json". The file is prepared to be run in google colab environment

<b>[IMPORTANT]</b>: Before going into the code below, add the shortcut of the Project folder to your drive:<br>
1. Right-click our project folder
2. Click "Add shortcut to Drive"
3. Select "My Drive" and click "ADD SHORTCUT"

# Prerequisites

In [ ]:
# Connect to Google Drive
# [IMPORTANT]: Remember to add the shortcut of the project folder
#        to "My Drive" before you process to next step.
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data Source 1: Reuter News

This section contains code to scrapt news from the Reuter website https://www.reuters.com/companies/0700.HK/news for three companies Tencent(700), EverGrande(3333), Alibaba(9988). It has theen inputted to the spacy model, split into sentence and perform combination on entities for sentence contains more than two useful entities. The code output three xlsx files named "News_Alibaba", "News_EverGrande", "News_Tencent"

In [ ]:
#!pip install spacy
#pip install requests
import requests
from bs4 import BeautifulSoup
import pandas as pd
from itertools import combinations
import numpy as np
import spacy
import urllib.parse

In [ ]:
pd.set_option('max_colwidth', 400)

In [ ]:
code=['0700','3333','9988']
news=[]

for company in code:
  url = "https://www.reuters.com/companies/{}.HK/news".format("".join(company))
  response = requests.get(url)
  soup = BeautifulSoup(response.text, "html.parser") 
  titles = soup.select(".item")
  news_url=[]
  for title in titles:
      news_url.append(title.select_one("a").get("href"))
  for title in news_url:
    response = requests.get(title)
    soup = BeautifulSoup(response.text, "html.parser")
    paragraph = soup.find_all("p")
    for sentence in paragraph:
      if (str(sentence).find("data-testid=\"paragraph"))!= -1:
        start=str(sentence).find(">")+1
        new_sentence=str(sentence)[start:]
        openn=new_sentence.find("<")
        close=new_sentence.find(">")
        while (openn!=-1):
          new_sentence=new_sentence[:openn]+new_sentence[close+1:]
          openn=new_sentence.find("<")
          close=new_sentence.find(">")
        news.append(new_sentence)

In [ ]:
print(len(news))
news[:5]

695

['BEIJING/HONG KONG, Jan 20 (Reuters) - TikTok owner ByteDance saw its total revenue grow by 70% year on year to around $58 billion in 2021, according to two people familiar with the matter, slower growth than a year earlier as China tightens its regulation of big tech companies.',
 'The figures were disclosed to a small group of employees at an internal meeting of the social media giant this week, according to the people.',
 "In 2020, the Beijing-based company's total revenue grew by over 100% to $34.3 billion, Reuters has reported.  read more ",
 'ByteDance did not immediately respond to a request for comment.',
 "Chinese tech companies from Tencent Holdings(0700.HK)\n to Alibaba Group(9988.HK)\n have reported slowing growth amid a wide-ranging crackdown by the country's regulators who have rolled out new rules governing how they operate and interact with their users."]

In [ ]:
#Reference from https://newbedev.com/how-can-i-split-a-text-into-sentences
import re
alphabets= "([A-Za-z])"
prefixes = "(Mr|St|Mrs|Ms|Dr|vs)[.]"
suffixes = "(Inc|Ltd|Jr|Sr|Co)"
starters = "(Mr|Mrs|Ms|Dr|He\s|She\s|It\s|They\s|Their\s|Our\s|We\s|But\s|However\s|That\s|This\s|Wherever)"
acronyms = "([A-Z][.][A-Z][.](?:[A-Z][.])?)"
websites = "[.](com|net|org|io|gov|HK|O|N|L|AS|J|SS)"
digits   = "([0-9])"
date     = "(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Sept|Oct|Nov|Dec)[.]"

def split_into_sentences(text):
    text = " " + text + "  "
    text = text.replace("\n"," ")
    text = re.sub(prefixes,"\\1<prd>",text)
    text = re.sub(websites,"<prd>\\1",text)
    if "Ph.D" in text: text = text.replace("Ph.D.","Ph<prd>D<prd>")
    text = re.sub("\s" + alphabets + "[.] "," \\1<prd> ",text)
    text = re.sub(acronyms+" "+starters,"\\1<stop> \\2",text)
    text = re.sub(alphabets + "[.]" + alphabets + "[.]" + alphabets + "[.]","\\1<prd>\\2<prd>\\3<prd>",text)
    text = re.sub(alphabets + "[.]" + alphabets + "[.]","\\1<prd>\\2<prd>",text)
    text = re.sub(" "+suffixes+"[.] "+starters," \\1<stop> \\2",text)
    text = re.sub(" "+suffixes+"[.]"," \\1<prd>",text)
    text = re.sub(" " + alphabets + "[.]"," \\1<prd>",text)
    text = re.sub(digits + "[.]" + digits,"\\1<prd>\\2",text)
    text = re.sub(digits + "[.]" + " ", "\\1<prd> ",text)
    text = re.sub(date, "\\1<prd>",text)
    if "”" in text: text = text.replace(".”","”.")
    if "\"" in text: text = text.replace(".\"","\".")
    if "!" in text: text = text.replace("!\"","\"!")
    if "?" in text: text = text.replace("?\"","\"?")
    text = text.replace(".",".<stop>")
    text = text.replace("?","?<stop>")
    text = text.replace("!","!<stop>")
    text = text.replace("<prd>",".")
    sentences = text.split("<stop>")
    sentences = sentences[:-1]
    sentences = [s[1:] for s in sentences]
    return sentences

In [ ]:
#https://spacy.io/usage/spacy-101
nlp = spacy.load("en_core_web_sm")
df = pd.DataFrame(columns=['Text', 'NER'])

output=[]
outputEntity=[]

for paragraph in news:
  originalText = paragraph
  originalTextList = split_into_sentences(originalText)
  if originalTextList == []:
    originalTextList.append(originalText) 

  textlist=[]
  listofNERlist=[] #list of listPPLORG
  listPPLORG =[] #list of ppl and org entities

  for sentence in originalTextList:
    doc = nlp(sentence)
    for ent in doc.ents:
      if (ent.label_ == "ORG" or ent.label_ == "PERSON"):
        #print(ent.text, ent.start_char, ent.end_char, ent.label_)
        listPPLORG.append(ent.text)

  #if the paragraph has less than 2 entity, skip the loop
  if len(listPPLORG)<=1:
    continue

  df = pd.DataFrame()
  df["entity"]=listPPLORG
  sentencecount=0
  for sentence in originalTextList:
    freq=[]
    UniEntity=0
    for entity in listPPLORG:
      freq.append(sentence.count(entity))
      if (sentence.count(entity)!=0):
        UniEntity=UniEntity+1
    
    df[str(sentencecount)]=np.array(freq)
    sentencecount=sentencecount+1
  
  lastrow=["UniqueEntity"]
  for i in np.count_nonzero(df, axis=0).tolist()[1:]:
    lastrow.append(i)
  
  SentenceRow=[]
  for i in originalTextList:
    SentenceRow.append(i)
  df.loc[len(df)] =lastrow

  count = 0
  #each column represent one sentence
  for column in df:
    #count variable is for skipping the first column
    if count != 0:
      #if it has more than one unique entity
      if (df.iloc[-1,][column]>=2):
        ListEntityInSentence=df.loc[df[column]>=1, 'entity'].tolist()[:-1]
        ListTwoEntityCombo=list(combinations(ListEntityInSentence,2))
        for TwoEntity in ListTwoEntityCombo:
          tempSentence=SentenceRow[int(column)]
          
          position1=tempSentence.find(TwoEntity[0])
          position2=tempSentence.find(TwoEntity[1])
          
          if (position1<position2):
            completeSentence = tempSentence[0:position1]+"<e1>"+TwoEntity[0]+"</e1>"+tempSentence[position1+len(TwoEntity[0]):position2]+"<e2>"+TwoEntity[1]+"</e2>"+tempSentence[position2+len(TwoEntity[1]):]
          else:
            completeSentence = tempSentence[0:position2]+"<e2>"+TwoEntity[1]+"</e2>"+tempSentence[position2+len(TwoEntity[1]):position1]+"<e1>"+TwoEntity[0]+"</e1>"+tempSentence[position1+len(TwoEntity[0]):]  
          if len(completeSentence)<=512:
            output.append(completeSentence)
            outputEntity.append(TwoEntity)

    count=count+1
Export = pd.DataFrame({'newText':output,'newNER':outputEntity})
Export.to_excel("/content/drive/MyDrive/GitHub/News_Tencent.xlsx")

In [ ]:
Export.head()

                                                                                                                                                                                                                                                                                                    newText                                               newNER
0  BEIJING/HONG KONG, Jan 20 (<e1>Reuters</e1>) - TikTok owner <e2>ByteDance</e2> saw its total revenue grow by 70% year on year to around $58 billion in 2021, according to two people familiar with the matter, slower growth than a year earlier as China tightens its regulation of big tech companies.                                 (Reuters, ByteDance)
1                                                                  <e1>ByteDance</e1> retained its second-ranked position in China’s online advertising market last year, with a market share of 21%, according to a recent report published by researcher <e2>Interactive Marketing Lab Zhongguancun</e2>.  (ByteDance, Interactive Marketing Lab Zhongguancun)
2                                                                                             In November, <e2>ByteDance</e2><e1>ByteDance</e1> reorganised itself into six business units in its biggest organizational change since ByteDance founder Zhang Yiming said in May he would step down as CEO.                               (ByteDance, ByteDance)
3                                                                                                      In November, <e1>ByteDance</e1> reorganised itself into six business units in its biggest organizational change since ByteDance founder <e2>Zhang Yiming</e2> said in May he would step down as CEO.                            (ByteDance, Zhang Yiming)
4                                                                                                      In November, <e1>ByteDance</e1> reorganised itself into six business units in its biggest organizational change since ByteDance founder <e2>Zhang Yiming</e2> said in May he would step down as CEO.                            (ByteDance, Zhang Yiming)

# Data source 2: Annual Report

This section of code preprocess the json file contains the 29 annual report with entities labelled data shared by Dr. Chow's research team. It output a xlsx file named "Training_data_with_stock_code" contains the pre-processed data

In [ ]:
import pandas as pd
import numpy as np
from itertools import combinations
import json

In [ ]:
with open('drive/MyDrive/GitHub/annual_report_29.json', encoding="utf-8") as f:
  data = json.load(f)

In [ ]:
print("Number of annual reports: ",len(data))
data[0]

Number of annual reports:  58

{'document_type': 'annual_report',
 'language': 'en',
 'relation': [{'age': '63',
   'education': [],
   'join_date': 'September 2017',
   'name': 'Mark E Tucker',
   'past_experience': 'Prudential plc',
   'position': 'Group Chairman'},
  {'age': '59',
   'education': [],
   'join_date': '1992',
   'name': 'Noel Quinn',
   'past_experience': 'Forward Trust Group',
   'position': 'Group Managing Director'},
  {'age': '54',
   'education': [],
   'join_date': '2014 to 2018',
   'name': 'Ewen Stevenson',
   'past_experience': 'Credit Suisse',
   'position': 'Group Chief Financial Ofcer'},
  {'age': '66',
   'education': [],
   'join_date': '1989',
   'name': 'Henri de Castries',
   'past_experience': 'French Finance Ministry Inspection Ofce and the French Treasury Department',
   'position': 'Independent non-executive Director'},
  {'age': '71',
   'education': [],
   'join_date': 'March 2011',
   'name': 'Laura Cha',
   'past_experience': '',
   'position': 'Independent non-executive Director'},
  {'age': '58',
   'education': [],
   'join_date': '1985',
   'name': 'James Forese',
   'past_experience': 'Salomon Brothers',
   'position': 'Independent non-executive Director'},
  {'age': '55',
   'education': [],
   'join_date': '',
   'name': 'Steven Guggenheimer',
   'past_experience': '',
   'position': 'Independent non-executive Director'},
  {'age': '62',
   'education': [],
   'join_date': '',
   'name': 'Eileen Murray',
   'past_experience': '',
   'position': 'Controller, Treasurer, and Global Head of Technology and Operations'},
  {'age': '67',
   'education': [],
   'join_date': 'September 2014',
   'name': 'Heidi Miller',
   'past_experience': '',
   'position': 'Independent non-executive Director'},
  {'age': '67',
   'education': [],
   'join_date': 'July 2015',
   'name': 'Irene Lee',
   'past_experience': 'Citibank, the Commonwealth Bank of Australia and SealCorp Holdings Limited',
   'position': 'Citibank, the Commonwealth Bank of Australia and SealCorp Holdings Limited'},
  {'age': '51',
   'education': [],
   'join_date': '',
   'name': 'Dr José Antonio Meade Kuribreña',
   'past_experience': 'Ministry of Finance and Public Credit',
   'position': 'Independent non-executive Director'},
  {'age': '61',
   'education': [],
   'join_date': 'September 2015',
   'name': 'Pauline van der Meer Mohr',
   'past_experience': '',
   'position': 'Independent non-executive Director'},
  {'age': '48',
   'education': [],
   'join_date': '',
   'name': 'Aileen Taylor',
   'past_experience': '',
   'position': 'Group Company Secretary and Chief Governance Ofcer'},
  {'age': '70',
   'education': [],
   'join_date': 'September 2016',
   'name': 'Jackson Tai',
   'past_experience': 'DBS Group and DBS Bank Ltd.',
   'position': 'senior operating and governance roles across Asia, North America and Europe'},
  {'age': '60',
   'education': [],
   'join_date': '2006',
   'name': 'David Nish',
   'past_experience': 'Scottish Power plc',
   'position': 'Independent non-executive Director'},
  {'age': '52',
   'education': [],
   'join_date': 'June 2017',
   'name': 'Elaine Arden',
   'past_experience': 'Royal Bank of Scotland Group',
   'position': 'senior human resources and employee relations roles'},
  {'age': '56',
   'education': [],
   'join_date': 'January 2021',
   'name': 'Bob Hoyt',
   'past_experience': 'PNC Financial Services Group',
   'position': 'Group Chief Legal Ofcer'},
  {'age': '53',
   'education': [],
   'join_date': 'July 2016',
   'name': 'Colin Bell',
   'past_experience': 'HSBC, Middle East, North Africa and Turkey',
   'position': 'Chief Executive Ofcer, HSBC Bank plc and HSBC Europe'},
  {'age': '50',
   'education': [],
   'join_date': 'December 2019',
   'name': 'John Hinshaw',
   'past_experience': '',
   'position': 'Group Chief Operating Ofcer'},
  {'age': '54',
   'education': [],
   'join_date': '1992',
   'name': 'Stephen Moss',
   'past_experience': 'Santander Group',
   'position': 'Regional Chief Executive'},
  {'age': '57',
   'education': [],
   'join_date': '2014',
   'name': 'John David Stuart',
   'past_experience': 'Barclays and NatWest',
   'position': 'Chief Executive Ofcer, HSBC UK Bank plc'},
  {'age': '45',
   'education': [],
   'join_date': 'April 2017',
   'name': 'Barry O’Byrne',
   'past_experience': 'GE Capital',
   'position': 'Chief Executive Ofcer, Global Commercial Banking'},
  {'age': '69',
   'education': [],
   'join_date': '2005',
   'name': 'Peter Wong',
   'past_experience': 'Hongkong and\xa0Shanghai Banking Corporation Limited',
   'position': 'Deputy Chairman and Chief Executive'},
  {'age': '60',
   'education': [],
   'join_date': 'October 2019',
   'name': 'Michael Roberts',
   'past_experience': 'Citigroup',
   'position': 'President and Chief Executive Ofcer, HSBC USA'}],
 'stock_code': '00005',
 'text': [{'ner': '[]', 'text': 'Chairman and executive Directors'},
  {'ner': '[{"text": "Mark E Tucker", "label": "PERSON", "start": 0, "end": 13}, {"text": "63", "label": "CARDINAL", "start": 15, "end": 17}, {"text": "September 2017", "label": "DATE", "start": 58, "end": 72}, {"text": "October 2017", "label": "DATE", "start": 95, "end": 107}]',
   'text': 'Mark E Tucker (63) Group Chairman Appointed to the Board: September 2017 Group Chairman since: October 2017'},
  {'ner': '[{"text": "over 30 years’", "label": "DATE", "start": 28, "end": 42}, {"text": "Asia", "label": "LOC", "start": 78, "end": 82}, {"text": "UK", "label": "GPE", "start": 91, "end": 93}, {"text": "Mark", "label": "PERSON", "start": 95, "end": 99}]',
   'text': 'Skills and experience: With over 30 years’ experience in ﬁnancial services in Asia and the UK, Mark has a deep understanding of the industry and the markets in which we operate.'},
  {'ner': '[{"text": "Mark", "label": "PERSON", "start": 8, "end": 12}, {"text": "AIA Group Limited", "label": "ORG", "start": 67, "end": 84}, {"text": "AIA", "label": "ORG", "start": 111, "end": 114}, {"text": "Prudential plc", "label": "ORG", "start": 161, "end": 175}, {"text": "four years", "label": "DATE", "start": 216, "end": 226}, {"text": "Prudential", "label": "ORG", "start": 241, "end": 251}, {"text": "10 years", "label": "DATE", "start": 264, "end": 272}]',
   'text': 'Career: Mark was previously Group Chief Executive and President of AIA Group Limited (‘AIA’). Prior to joining AIA, he held various senior management roles with Prudential plc, including as Group Chief Executive for four years. He served on Prudential’s Board for 10 years.'},
  {'ner': '[{"text": "Mark", "label": "PERSON", "start": 0, "end": 4}, {"text": "The Bank of England", "label": "ORG", "start": 65, "end": 84}, {"text": "Goldman Sachs Group", "label": "ORG", "start": 130, "end": 149}, {"text": "HBOS plc", "label": "ORG", "start": 183, "end": 191}]',
   'text': 'Mark previously served as non-executive Director of the Court of The Bank of England, as an independent non-executive Director of Goldman Sachs Group and as Group Finance Director of HBOS plc.'},
  {'ner': '[{"text": "TheCityUK", "label": "ORG", "start": 34, "end": 43}, {"text": "Discovery Limited", "label": "ORG", "start": 72, "end": 89}, {"text": "Build Back Better Council", "label": "ORG", "start": 102, "end": 127}, {"text": "Chapter Zero", "label": "LAW", "start": 150, "end": 162}]',
   'text': 'External appointments: – Chair of TheCityUK – Non-executive Chairman of Discovery Limited – Member of Build Back Better Council – Supporting Chair of Chapter Zero'},
  {'ner': '[{"text": "Noel Quinn", "label": "PERSON", "start": 0, "end": 10}, {"text": "59", "label": "CARDINAL", "start": 12, "end": 14}, {"text": "August 2019", "label": "DATE", "start": 62, "end": 73}, {"text": "March 2020", "label": "DATE", "start": 103, "end": 113}]',
   'text': 'Noel Quinn (59) Group Chief Executive Appointed to the Board: August 2019 Group Chief Executive since: March 2020'},
  {'ner': '[{"text": "Noel", "label": "PERSON", "start": 23, "end": 27}, {"text": "more than 30 years’", "label": "DATE", "start": 32, "end": 51}, {"text": "UK", "label": "GPE", "start": 106, "end": 108}, {"text": "Asia", "label": "LOC", "start": 113, "end": 117}, {"text": "over 28 years", "label": "DATE", "start": 124, "end": 137}, {"text": "HSBC", "label": "ORG", "start": 141, "end": 145}]',
   'text': 'Skills and experience: Noel has more than 30 years’ banking and ﬁnancial services experience, both in the UK and Asia, with over 28 years at HSBC.'},
  {'ner': '[{"text": "Noel", "label": "PERSON", "start": 8, "end": 12}, {"text": "March 2020", "label": "DATE", "start": 57, "end": 67}, {"text": "August 2019", "label": "DATE", "start": 116, "end": 127}, {"text": "HSBC", "label": "ORG", "start": 173, "end": 177}, {"text": "1992", "label": "DATE", "start": 195, "end": 199}, {"text": "Ofcer", "label": "PERSON", "start": 238, "end": 243}, {"text": "Global Commercial Banking", "label": "ORG", "start": 247, "end": 272}, {"text": "December 2015", "label": "DATE", "start": 311, "end": 324}, {"text": "Group", "label": "ORG", "start": 334, "end": 339}, {"text": "September 2016", "label": "DATE", "start": 361, "end": 375}, {"text": "Noel", "label": "PERSON", "start": 377, "end": 381}, {"text": "Forward Trust Group", "label": "ORG", "start": 389, "end": 408}, {"text": "Midland Bank", "label": "ORG", "start": 426, "end": 438}, {"text": "1987", "label": "DATE", "start": 443, "end": 447}, {"text": "HSBC", "label": "ORG", "start": 459, "end": 463}, {"text": "1992", "label": "DATE", "start": 467, "end": 471}, {"text": "Group", "label": "ORG", "start": 481, "end": 486}, {"text": "Midland Bank", "label": "ORG", "start": 496, "end": 508}]',
   'text': 'Career: Noel was formally named Group Chief Executive in March 2020, having held the role on an interim basis since August 2019. He has held various management roles across HSBC since joining in 1992. He was most recently Chief Executive Ofcer of Global Commercial Banking, having been appointed to the role in December 2015 and as a Group Managing Director in September 2016. Noel joined Forward Trust Group, a subsidiary of Midland Bank, in 1987 and joined HSBC in 1992 when the Group acquired Midland Bank.'},
  {'ner': '[{"text": "the Financial Services Task Force", "label": "ORG", "start": 34, "end": 67}, {"text": "the Sustainable Market Initiative", "label": "ORG", "start": 71, "end": 104}]',
   'text': 'External appointments: – Chair of the Financial Services Task Force of the Sustainable Market Initiative'},
  {'ner': '[{"text": "Ewen Stevenson", "label": "PERSON", "start": 0, "end": 14}, {"text": "54", "label": "CARDINAL", "start": 16, "end": 18}, {"text": "January 2019", "label": "DATE", "start": 72, "end": 84}]',
   'text': 'Ewen Stevenson (54) Group Chief Financial Ofcer Appointed to the Board: January 2019'},
  {'ner': '[{"text": "Ewen", "label": "PERSON", "start": 23, "end": 27}, {"text": "25 years’", "label": "DATE", "start": 37, "end": 46}, {"text": "Group Finance", "label": "ORG", "start": 229, "end": 242}, {"text": "Ewen", "label": "PERSON", "start": 244, "end": 248}, {"text": "Group", "label": "ORG", "start": 297, "end": 302}, {"text": "February 2021", "label": "DATE", "start": 333, "end": 346}, {"text": "Group", "label": "ORG", "start": 386, "end": 391}, {"text": "April 2021", "label": "DATE", "start": 433, "end": 443}]',
   'text': "Skills and experience: Ewen has over 25 years’ experience in the banking industry, both as an adviser to major banks and as an executive of large ﬁnancial institutions. In addition to his existing leadership responsibilities for Group Finance, Ewen assumed responsibility for the oversight of the Group's transformation programme in February 2021 and will assume responsibility for the Group’s mergers and acquisitions activities in April 2021."},
  {'ner': '[{"text": "Ewen", "label": "PERSON", "start": 8, "end": 12}, {"text": "Royal Bank of Scotland Group plc", "label": "ORG", "start": 42, "end": 74}, {"text": "from 2014 to 2018", "label": "DATE", "start": 75, "end": 92}, {"text": "Ewen", "label": "PERSON", "start": 109, "end": 113}, {"text": "25 years", "label": "DATE", "start": 120, "end": 128}, {"text": "Credit Suisse", "label": "ORG", "start": 134, "end": 147}, {"text": "the EMEA Investment Banking Division", "label": "ORG", "start": 184, "end": 220}, {"text": "the Global Financial Institutions Group", "label": "ORG", "start": 236, "end": 275}]',
   'text': 'Career: Ewen was Chief Financial Ofcer of Royal Bank of Scotland Group plc from 2014 to 2018. Prior to this, Ewen spent 25 years with Credit Suisse, where his last role was co-Head of the EMEA Investment Banking Division and co-Head of the Global Financial Institutions Group.'},
  {'ner': '[]', 'text': 'External appointments: None'},
  {'ner': '[{"text": "Group Audit Committee", "label": "ORG", "start": 47, "end": 68}, {"text": "Group Risk Committee", "label": "ORG", "start": 69, "end": 89}, {"text": "Group Remuneration Committee", "label": "ORG", "start": 90, "end": 118}]',
   'text': 'Board committee membership key Committee Chair Group Audit Committee Group Risk Committee Group Remuneration Committee Nomination & Corporate Governance Committee'},
  {'ner': '[{"text": "Board", "label": "ORG", "start": 37, "end": 42}]',
   'text': 'For full biographical details of our Board members, see www.hsbc.com/who-we-are/leadership.'},
  {'ner': '[]', 'text': 'The Board'},
  {'ner': '[{"text": "Board", "label": "ORG", "start": 4, "end": 9}]',
   'text': 'The Board aims to promote the Group’s long-term success, deliver sustainable value to shareholders and promote a culture of openness and debate.'},
  {'ner': '[{"text": "198", "label": "CARDINAL", "start": 0, "end": 3}, {"text": "HSBC Holdings plc", "label": "ORG", "start": 4, "end": 21}, {"text": "2020", "label": "DATE", "start": 49, "end": 53}]',
   'text': '198 HSBC Holdings plc Annual Report and Accounts 2020'},
  {'ner': '[]',
   'text': 'Report of the Directors | Corporate governance report'},
  {'ner': '[]', 'text': 'Corporate governance'},
  {'ner': '[]', 'text': 'Independent non-executive Directors'},
  {'ner': '[{"text": "Henri de Castries", "label": "PERSON", "start": 0, "end": 17}, {"text": "66", "label": "DATE", "start": 19, "end": 21}, {"text": "March 2016", "label": "DATE", "start": 82, "end": 92}]',
   'text': 'Henri de Castries (66) Independent non-executive Director Appointed to the Board: March 2016'},
  {'ner': '[{"text": "Henri", "label": "PERSON", "start": 23, "end": 28}, {"text": "more than 25 years’", "label": "DATE", "start": 33, "end": 52}]',
   'text': 'Skills and experience: Henri has more than 25 years’ international experience in the ﬁnancial services industry, working in global insurance and asset management.'},
  {'ner': '[{"text": "Henri", "label": "PERSON", "start": 8, "end": 13}, {"text": "AXA S.A.", "label": "ORG", "start": 21, "end": 29}, {"text": "1989", "label": "DATE", "start": 33, "end": 37}, {"text": "Ofcer", "label": "PERSON", "start": 99, "end": 104}, {"text": "2000", "label": "DATE", "start": 110, "end": 114}, {"text": "2010", "label": "DATE", "start": 119, "end": 123}, {"text": "2016", "label": "DATE", "start": 196, "end": 200}]',
   'text': 'Career: Henri joined AXA S.A. in 1989 and held a number of senior roles, including Chief Executive Ofcer from 2000. In 2010, he was appointed Chairman and Chief Executive, before stepping down in 2016.'},
  {'ner': '[{"text": "French", "label": "NORP", "start": 33, "end": 39}, {"text": "Inspection Ofce", "label": "ORG", "start": 57, "end": 72}, {"text": "the French Treasury Department", "label": "ORG", "start": 77, "end": 107}]',
   'text': 'He has previously worked for the French Finance Ministry Inspection Ofce and the French Treasury Department.'},
  {'ner': '[{"text": "General Atlantic", "label": "ORG", "start": 44, "end": 60}, {"text": "Institut Montaigne", "label": "ORG", "start": 75, "end": 93}, {"text": "Nestlé S.A.", "label": "ORG", "start": 113, "end": 124}, {"text": "the French National Foundation for Political Science", "label": "ORG", "start": 153, "end": 205}, {"text": "the Global Advisory Council at LeapFrog Investments", "label": "ORG", "start": 218, "end": 269}, {"text": "Stellantis NV", "label": "ORG", "start": 317, "end": 330}]',
   'text': 'External appointments: – Special Adviser to General Atlantic – Chairman of Institut Montaigne – Vice Chairman of Nestlé S.A. – Non-executive Director of the French National Foundation for Political Science – Member of the Global Advisory Council at LeapFrog Investments – Senior Independent non-executive Director of Stellantis NV'},
  {'ner': '[{"text": "Laura Cha", "label": "PERSON", "start": 0, "end": 9}, {"text": "71", "label": "DATE", "start": 16, "end": 18}, {"text": "March 2011", "label": "DATE", "start": 79, "end": 89}]',
   'text': 'Laura Cha, GBM (71) Independent non-executive Director Appointed to the Board: March 2011'},
  {'ner': '[{"text": "Laura", "label": "PERSON", "start": 23, "end": 28}, {"text": "Hong Kong", "label": "GPE", "start": 121, "end": 130}, {"text": "China", "label": "GPE", "start": 144, "end": 149}]',
   'text': 'Skills and experience: Laura has extensive regulatory and policymaking experience in the ﬁnance and securities sector in Hong Kong and mainland China.'},
  {'ner': '[{"text": "Laura", "label": "PERSON", "start": 8, "end": 13}, {"text": "the China Securities Regulatory Commission", "label": "ORG", "start": 44, "end": 86}, {"text": "China", "label": "GPE", "start": 130, "end": 135}, {"text": "the Central Government of the People’s Republic of China", "label": "ORG", "start": 144, "end": 200}, {"text": "The Hong Kong Government", "label": "ORG", "start": 228, "end": 252}, {"text": "the Grand Bauhinia Medal", "label": "WORK_OF_ART", "start": 265, "end": 289}]',
   'text': 'Career: Laura was formerly Vice Chairman of the China Securities Regulatory Commission, becoming the ﬁrst person outside mainland China to join the Central Government of the People’s Republic of China at Vice-Ministerial level. The Hong Kong Government awarded her the Grand Bauhinia Medal for public service.'},
  {'ner': '[{"text": "China Telecom Corporation Limited", "label": "ORG", "start": 55, "end": 88}, {"text": "Bank of Communications Co., Ltd", "label": "ORG", "start": 90, "end": 121}, {"text": "Tata Consultancy Services Limited", "label": "ORG", "start": 127, "end": 160}]',
   'text': 'She has previously served as non-executive Director of China Telecom Corporation Limited, Bank of Communications Co., Ltd, and Tata Consultancy Services Limited.'},
  {'ner': '[{"text": "Hong Kong Exchanges and Clearing Limited", "label": "ORG", "start": 34, "end": 74}, {"text": "The Hongkong and Shanghai Banking Corporation Limited", "label": "ORG", "start": 100, "end": 153}, {"text": "The London Metal Exchange", "label": "ORG", "start": 182, "end": 207}, {"text": "Unilever PLC", "label": "ORG", "start": 236, "end": 248}]',
   'text': 'External appointments: – Chair of Hong Kong Exchanges and Clearing Limited – Non-executive Chair of The Hongkong and Shanghai Banking Corporation Limited – Non-executive Director of The London Metal Exchange – Non-executive Director of Unilever PLC'},
  {'ner': '[{"text": "James Forese", "label": "PERSON", "start": 0, "end": 12}, {"text": "58", "label": "DATE", "start": 14, "end": 16}, {"text": "May 2020", "label": "DATE", "start": 77, "end": 85}]',
   'text': 'James Forese (58) Independent non-executive Director Appointed to the Board: May 2020'},
  {'ner': '[{"text": "James", "label": "PERSON", "start": 23, "end": 28}, {"text": "30 years’", "label": "DATE", "start": 38, "end": 47}]',
   'text': 'Skills and experience: James has over 30 years’ international business and management experience in the ﬁnance industry.'},

In [ ]:
def DataClean (data):
    count=0

    col1_text=[]
    col2_ner=[]
    col0_stock=[]

    for annualreport in data:
        countt = 0
        if annualreport["language"] == "zh":
          continue
        for sentence in annualreport["text"]:
            if sentence['ner'] != "[]": #sentence shd be a dictionary with 'text' and 'ner' two keys
                col0_stock.append(annualreport["stock_code"])
                col1_text.append(sentence['text'])
                col2_ner.append(sentence['ner'])
                count=count+1
                countt=countt+1
                df = pd.DataFrame({'Stock':col0_stock,'Text':col1_text, 'NER':col2_ner})
    return df

result=DataClean(data)

In [ ]:
result.head()

   Stock  ...                                                                                                                                                                                                                                                                                                                                                                                                              NER
0  00005  ...                                                                                                                                      [{"text": "Mark E Tucker", "label": "PERSON", "start": 0, "end": 13}, {"text": "63", "label": "CARDINAL", "start": 15, "end": 17}, {"text": "September 2017", "label": "DATE", "start": 58, "end": 72}, {"text": "October 2017", "label": "DATE", "start": 95, "end": 107}]
1  00005  ...                                                                                                                                                             [{"text": "over 30 years’", "label": "DATE", "start": 28, "end": 42}, {"text": "Asia", "label": "LOC", "start": 78, "end": 82}, {"text": "UK", "label": "GPE", "start": 91, "end": 93}, {"text": "Mark", "label": "PERSON", "start": 95, "end": 99}]
2  00005  ...  [{"text": "Mark", "label": "PERSON", "start": 8, "end": 12}, {"text": "AIA Group Limited", "label": "ORG", "start": 67, "end": 84}, {"text": "AIA", "label": "ORG", "start": 111, "end": 114}, {"text": "Prudential plc", "label": "ORG", "start": 161, "end": 175}, {"text": "four years", "label": "DATE", "start": 216, "end": 226}, {"text": "Prudential", "label": "ORG", "start": 241, "end": 251}, {"...
3  00005  ...                                                                                                                                  [{"text": "Mark", "label": "PERSON", "start": 0, "end": 4}, {"text": "The Bank of England", "label": "ORG", "start": 65, "end": 84}, {"text": "Goldman Sachs Group", "label": "ORG", "start": 130, "end": 149}, {"text": "HBOS plc", "label": "ORG", "start": 183, "end": 191}]
4  00005  ...                                                                                                                      [{"text": "TheCityUK", "label": "ORG", "start": 34, "end": 43}, {"text": "Discovery Limited", "label": "ORG", "start": 72, "end": 89}, {"text": "Build Back Better Council", "label": "ORG", "start": 102, "end": 127}, {"text": "Chapter Zero", "label": "LAW", "start": 150, "end": 162}]

[5 rows x 3 columns]

In [ ]:
result['lenofNER'] = result['NER'].map(lambda NER:len(list(NER.split("{")))-1)
result['OrgFreq'] = result['NER'].map(lambda NER:NER.count("ORG"))
result['PersonFreq'] = result['NER'].map(lambda NER:NER.count("PERSON"))
result['UsefulEntity']=result['OrgFreq']+result['PersonFreq']
result[result['UsefulEntity']>=2]
result.head()

   Stock  ... UsefulEntity
0  00005  ...            1
1  00005  ...            1
2  00005  ...            5
3  00005  ...            4
4  00005  ...            3

[5 rows x 7 columns]

In [ ]:
output=[]
outputEntity=[]
stock=[]
lessthanlimit=0
for i in range(len(result["NER"])):
  
  originalStock = result["Stock"][i] 
  originalText = result["Text"][i]
  originalTextList = split_into_sentences(originalText)
  if originalTextList == []:
    originalTextList.append(originalText) 
  
  listAllNERDict=json.loads(result["NER"][i]) #convert the string to list of dictionary
  listPPLORGDict=[]  #keep only NER with label is Person or Org
  listPPLORG =[]   #list of entity text
  
  for entity in listAllNERDict:
    if entity['label'] == 'PERSON' or entity['label'] == 'ORG':
        listPPLORGDict.append(entity)
        if entity['text'] not in listPPLORG:
          listPPLORG.append(entity['text'])

  #if the paragraph has less than 2 entity, skip the loop
  if len(listPPLORG)<=1:
    continue
  
  df = pd.DataFrame()
  df["entity"]=listPPLORG
  sentencecount=0
  for sentence in originalTextList:
    freq=[]
    UniEntity=0
    for entity in listPPLORG:
      freq.append(sentence.count(entity))
      if (sentence.count(entity)!=0):
        UniEntity=UniEntity+1
    
    df[str(sentencecount)]=np.array(freq)
    sentencecount=sentencecount+1

  lastrow=["UniqueEntity"]
  for i in np.count_nonzero(df, axis=0).tolist()[1:]:
    lastrow.append(i)
  
  SentenceRow=[]
  for i in originalTextList:
    SentenceRow.append(i)
  df.loc[len(df)] =lastrow
  
  
  count = 0
  #each column represent one sentence
  for column in df:
    #count variable is for skipping the first column
    if count != 0:
      #if it has more than one unique entity
      if (df.iloc[-1,][column]>=2):
        ListEntityInSentence=df.loc[df[column]>=1, 'entity'].tolist()[:-1]
        ListTwoEntityCombo=list(combinations(ListEntityInSentence,2))
        for TwoEntity in ListTwoEntityCombo:
          tempSentence=SentenceRow[int(column)]
          
          position1=tempSentence.find(TwoEntity[0])
          position2=tempSentence.find(TwoEntity[1])
          
          if (position1<position2):
            completeSentence = tempSentence[0:position1]+"<e1>"+TwoEntity[0]+"</e1>"+tempSentence[position1+len(TwoEntity[0]):position2]+"<e2>"+TwoEntity[1]+"</e2>"+tempSentence[position2+len(TwoEntity[1]):]
          else:
            completeSentence = tempSentence[0:position2]+"<e2>"+TwoEntity[1]+"</e2>"+tempSentence[position2+len(TwoEntity[1]):position1]+"<e1>"+TwoEntity[0]+"</e1>"+tempSentence[position1+len(TwoEntity[0]):]  
          if len(completeSentence)<=512:
            lessthanlimit=lessthanlimit+1
            output.append(completeSentence)
            outputEntity.append(TwoEntity)
            stock.append(originalStock)
    count=count+1
Export = pd.DataFrame({'Stock':stock,'newText':output,'newNER':outputEntity})
Export.to_excel("/content/drive/MyDrive/GitHub/Training_data_with_stock_code.xlsx")

In [ ]:
Export.head()

   Stock  ...                     newNER
0  00005  ...  (Mark, AIA Group Limited)
1  00005  ...                (Mark, AIA)
2  00005  ...   (AIA Group Limited, AIA)
3  00005  ...      (AIA, Prudential plc)
4  00005  ...          (AIA, Prudential)

[5 rows x 3 columns]

# Preprocess the data to input to the model

Two files are combined and manually labelled with respect to 11 relations. Then we taken out the data related to Tencent and the data are stored in "TrainingData_Without_Tencent.xlsx". Since the BERT model intakes data in a txt file format, the following code output two txt files named "train_data_dm1.txt" and "test_data_dm1.txt"

In [ ]:
# Import the libs to be used
import numpy as np
import pandas as pd
import re
regex = re.compile('[^\u0020-\u024F]')

In [ ]:
input_file = pd.read_excel("/content/drive/MyDrive/GitHub/TrainingData_Without_Tencent.xlsx")

In [ ]:
input_file=input_file[input_file['Label'].notna()]
input_file=input_file[input_file['newText'].apply(lambda x: len(x) <=512)]
input_file['newText']=input_file['newText'].apply(lambda x: regex.sub('', x))
input_file=input_file.reset_index(drop=True)

In [ ]:
input_file.head()

   Stock  ... Relationship
0  00005  ...      (e1,e2)
1  00005  ...      (e1,e2)
2  00005  ...      (e1,e2)
3  00005  ...      (e1,e2)
4  00005  ...      (e1,e2)

[5 rows x 5 columns]

In [ ]:
index = 1
q=1
output_train_file = open("/content/drive/MyDrive/GitHub/train_data_dm1.txt", "w")
output_test_file  = open("/content/drive/MyDrive/GitHub/test_data_dm1.txt", "w")
NoOfRow=list(input_file.index)[-1]

#shuffle data
input_file = input_file.sample(frac=1)

for row in range(0,NoOfRow):
  temp = input_file.iloc[row]
  #test set
  if row > 0.9* NoOfRow:

    if temp.isna()['Relationship']: #if the relation is other
      print(8000+q, '        \"', temp.newText, '\"\n', temp.Label, '\nComment: \n', sep="", file=output_test_file)
    else:
      print(8000+q, '        \"', temp.newText, '\"\n', temp.Label, temp['Relationship'], '\nComment: \n', sep="", file=output_test_file)
    q=q+1 

  #train set
  elif temp.isna()['Relationship']:
    print(index, '        \"', temp.newText, '\"\n', temp.Label, '\nComment: \n', sep="", file=output_train_file)
  else:
    print(index, '        \"', temp.newText, '\"\n', temp.Label, temp['Relationship'], '\nComment: \n', sep="", file=output_train_file)
  
  index=index+1

output_train_file.close()
output_test_file.close()

In [ ]:
with open("/content/drive/MyDrive/GitHub/train_data_dm1.txt") as output_train_file:
    head = [next(output_train_file) for x in range(4)]
print(head)
output_train_file.close()

['1        "<e1>YE Jianping</e1> Orient Overseas Container Line Limited Director and Member of <e2>Executive Committee</e2> November 2015 N/A"\n', 'Other\n', 'Comment: \n', '\n']

In [ ]:
distribution=input_file.groupby("Label").count()
distribution=distribution.iloc[:,0:1]
distribution.rename(columns={"Unnamed: 0": "sample size"},inplace=True)
df2=pd.DataFrame({'relationship_label': [" Colleague"," Relative"," Employee-Company","Educated-Institute","Founder-Company" ,
                      " Shareholder-Company" , "within the same company group" , "Cooperate partner", "Subsidary-Parent company"], 'Relationship': [1.0,2.0,3.0,4.0,5.0,7.0,8.0,9.0,11.0]})

In [ ]:
distribution

                           Stock
Label
Colleague                    446
Cooperate-Partner             63
Educated-Institute            74
Employee-Company             376
Founder-Company               21
Other                       1389
Relative                       1
Same-Entity                   97
Shareholder-Company           88
Subsidary-ParentCompany       50
Within-Same-Company-Group     62